@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: url("/public/piqosity-background.c10fbb54b8a6c182.png");
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.p-component {
  background: white;
  position: unset;
  z-index: unset;
}
.p-multiselect-header {
  color: black;
}
